<h1>Games</h1>
<% if user_signed_in? %>
  <%= link_to "Add a New Game", new_game_path %>
<% end %>
<hr>
<% @games.each do |game| %>
  <h2><%= link_to game.name, game_path(game) %></h2>
  <ul>
    <li>Developer: <%= game.developer %></li>
    <li>Genre: <%= game.genre %></li>
  </ul>
<hr>
<% end %>
