<h1>Admin Control Panel</h1>
<hr>
<li><%= link_to "Users Master List", admin_users_path %></li>
<li><%= link_to "Games Master List", admin_games_path %></li>
<li><%= link_to "Reviews Master List", admin_reviews_path %></li>

<hr>
